body {
    max-height: 100%;
    max-width: 100%;
    background-image: url("images/mountains.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

h1 {
    text-align: center;
    padding: 0;
}

p {
    color: wheat;
    text-align: center;
}

.container{
    width: 100%;
    height: 100vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container h1 {
    font-size: 60px;
}
span {
    color: rgb(19, 153, 216);
}

li {
    list-style: none;
    color: white;
}

a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

.position {
    font-size: 30px;
    display: flex;
    align-items: center;
}

.position .links{
    display: flex;
    gap: 2rem;
    position: absolute;
    left: 10;
    top: 10;
}
