body {
    background-image: url("images/mountains.jpg");
    background-repeat: no-repeat;
}

h1 {
    color: white;
    text-align: center;
}

p {
    color: wheat;
}
a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
