/* background settings */
body {
    max-height: 100%;
    max-width: 100%;
    background-image: url("images/mountains.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
}
/* name */
h1 {
    text-align: center;
    padding: 0;
}
/* about me*/
p {
    color: wheat;
    text-align: center;
    font-size: 10rem;
}
/* profile picture */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    object-fit: cover;
}
/* Typing */
.container{
    width: 100%;
    height: 10rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container h1 {
    font-size: 3.75rem;
}
span {
    color: rgb(19, 153, 216);
}

/* links */
li {
    list-style: none;
    color: white;
}

a:link {
    display: block;
    height: 2.5rem;
    width: 6.25rem;
    text-align: center;
    line-height: 2.5rem;
    border-radius: 0.3125rem;
    color: white;
    background-color: rgb(85, 90, 92);
    text-decoration: none;
    

}
.position .links li:nth-child(1) a:hover {
    display: block;
    height: 2.5rem;
    width: 6.25rem;
    border-radius: 0.3125rem;
    color: transparent;
    background-color: white;
    background-image: url("images/github.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    text-decoration: none;
    text-align: center;
}

.position .links li:nth-child(2) a:hover {
    display: block;
    height: 2.5rem;
    width: 6.25rem;
    border-radius: 0.3125rem;
    color: transparent;
    background-color: white;
    background-image: url("images/resume.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    text-decoration: none;
    text-align: center;
}

.position .links li:nth-child(3) a:hover {
    display: block;
    height: 2.5rem;
    width: 6.25rem;
    border-radius: 0.3125rem;
    color: transparent;
    background-color: white;
    background-image: url("images/email.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    text-decoration: none;
    text-align: center;
}

.position .links{
    display: flex;
    gap: 2rem;
    position: absolute;
    right: 5%;
    top: 0;
}

a:visited {
    color: white;
    text-decoration: none;
}

/* projects */
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  /* Control the left side */
  .left {
    left: 0;
    background-color: #111;
  }
  
  /* Control the right side */
  .right {
    right: 0;
    background-color: red;
  }
  
  /* If you want the content centered horizontally and vertically */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  /* Style the image inside the centered container, if needed */
  .centered img {
    width: 150px;
    border-radius: 50%;
  }
